<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div id="username-form">
        <h1>Enter your username:</h1>
        <form id="username-form">
            <input type="text" id="username" required>
            <button type="submit">Join Chat</button>
        </form>
    </div>

    <div id="chat-form" style="display: none;">
        <h1>Chat Room</h1>
        <div id="chat-messages"></div>
        <form id="chat-form">
            <input type="text" id="message" autocomplete="off" required>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>

</body>

</html>